<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel Hill Paradise &mdash; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="hill Side,4NoteFourSolutions" />
    <meta name="4NoteFourSolutions" content="travel" />
    <!-- icon -->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!-- Css tags -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap-social.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/css/style.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
	<div class="flex-w flex-str size1 overlay1">
		<div class="flex-w flex-col-sb wsize1 bg0 p-l-65 p-t-37 p-b-50 p-r-80 respon1">
			<div class="wrappic1">
				<a href="/">
					<img src="/images/icons/favicon.ico" alt="IMG">
				</a>
            </div>
            
            <!-- animated snippet -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="loader">
                            <div class="loader-inner">
                                <div class="loading one"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading two"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading three"></div>
                            </div>
                            <div class="loader-inner">
                                <div class="loading four"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>		
	
			<div class="w-full flex-c-m p-t-80 p-b-90">
				<div class="wsize2">
					<h3 class="l1-txt1 p-b-34 respon3 text-center" style="color: #cf303d;">
						Under Construction !
					</h3>

					<p class="m2-txt1 p-b-46 text-center">
                        This page is currently undergoing scheduled maintanence.<br> Thank you for your paience.
					</p>
				</div>
			</div>
            
            <div class = "row justify-content-center">             
                <div class = "col-auto">
                    <p style="color: #424242;font-size: small;">4NoteFourSolutions © 2020</p>
                </div>
           </div>
		</div>
			

		<div class="wsize1 simpleslide100-parent respon2">
			<!--  -->
			<div class="simpleslide100">
				<div class="simpleslide100-item bg-img1" style="background-image: url('/images/water.jpg');"></div>
				<div class="simpleslide100-item bg-img1" style="background-image: url('/images/tea.jpg');"></div>
				<div class="simpleslide100-item bg-img1" style="background-image: url('/images/img3a.jpg');"></div>
			</div>
		</div>
	</div>

<!-- Javascript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--===============================================================================================-->	
	<script src="/javascripts/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/js/popper.js"></script>
	<script src="/javascripts/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/js/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/js/tilt.jquery.min.js"></script>
<!--===============================================================================================-->
    <script src="/javascripts/js/main.js"></script>

</body>
</html>