<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>verification</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
	<link rel="stylesheet" href="/stylesheets/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
    <link rel="stylesheet" href="/stylesheets/css/registerstyle.css">
	</head>

	<body>

	<div class="wrapper" 
		style="background-image: url('/images/error_401.jpg');
			height:100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;">
		</div>
		
	</body>
</html>