<!DOCTYPE html>

<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Hotel Hill Paradise &mdash; </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="hill Side,4NoteFourSolutions" />
		<meta name="4NoteFourSolutions" content="travel" />
		<!-- <link rel="shortcut icon" href="favicon.ico"> -->
		<link rel='stylesheet' href='/stylesheets/css/superfish.css'>
		<link rel='stylesheet' href='/stylesheets/css/bootstrap-datepicker.min.css'>
		<link rel='stylesheet' href='/stylesheets/css/cs-select.css'>
		<link rel='stylesheet' href='/stylesheets/css/cs-skin-border.css'>
		<!-- <link rel='stylesheet' href='/stylesheets/css/themify-icons.css'> -->
		<link rel='stylesheet' href='/stylesheets/css/flaticon.css'>
		<link rel='stylesheet' href='/stylesheets/css/icomoon.css'>
		<link rel='stylesheet' href='/stylesheets/css/flexslider.css'>
		<link rel='stylesheet' href='/stylesheets/css/style.css'>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">	
		<style>
			#fav{
				margin-bottom: 20px;
			}
			#return-to-top {
				position: fixed;
				z-index: 2;
				bottom: 20px;
				right: 20px;
				background: rgba(230, 113, 3, 0.89);
				width: 50px;
				height: 50px;
				display: block;
				text-decoration: none;
				-webkit-border-radius: 35px;
				-moz-border-radius: 35px;
				border-radius: 35px;
				display: none;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			#return-to-top i {
				color: #fff;
				margin: 0;
				position: relative;
				left: 16px;
				top: 13px;
				font-size: 19px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			#return-to-top:hover {
				background: rgba(0, 0, 0, 0.9);
			}
			#return-to-top:hover i {
				color: #fff;
				top: 5px;
			}
			.btn-outline-dark{
				/* padding-left: 20px !important; */
				font-size: large;
				opacity: 1;
				color: azure;
				margin-top: 0px;
				opacity: 1;
				border-radius: 50px;
				background-color: rgba(211, 74, 5, 0.966);
			}
		</style>
	</head>
	<body>
		<div id="fh5co-wrapper">
			<div id="fh5co-page">

				<!-- navigation bar -->
				<div id="fh5co-header">
					<header id="fh5co-header-section">
						<div class="container">
							<div class="nav-header">
								<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
								<h1 id="fh5co-logo"><a href="">Hill Paradise Guest House</a></h1>
								<nav id="fh5co-menu-wrap" role="navigation">
									<ul class="sf-menu" id="fh5co-primary-menu">
										<li><a class="active" href="">Home</a></li>
										<li><a href="#hotel-facilities">Services</a></li>
										<li><a href="blog.html">Blog</a></li>
										<li><a href="#footerdetails">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</header>	
				</div>

				<!-- welcome screen with image rotation -->
				<aside id="fh5co-hero" class="js-fullheight">
					<div class="flexslider js-fullheight">
						<ul class="slides">
							<li id="img1" >
								<div class="overlay-gradient"></div>
								<div class="container">
									<div class="col-md-12 col-md-offset-0 text-center slider-text">
										<div class="slider-text-inner js-fullheight">
											<div class="desc">
												<p><span>Hill Paradise Guest House</span></p>
												<h2>Reserve Room for Family Vacation</h2>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li id="img2">
								<div class="overlay-gradient"></div>
								<div class="container">
									<div class="col-md-12 col-md-offset-0 text-center slider-text">
										<div class="slider-text-inner js-fullheight">
											<div class="desc">
												<p><span>Hill Paradise Guest House</span></p>
												<h2>Make Your Vacation Comfortable</h2>
												
											</div>
										</div>
									</div>
								</div>
							</li>
							<li id="img3">
								<div class="overlay-gradient"></div>
								<div class="container">
									<div class="col-md-12 col-md-offset-0 text-center slider-text">
										<div class="slider-text-inner js-fullheight">
											<div class="desc">
												<p><span>Hill Paradise Guest House</span></p>
												<h2>A Best Place To Enjoy Your Life</h2>
												
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</aside>

				<!-- choose date range section -->
				<div  class="wrap">
					<div id="checkAvailability" class="container booking-form">
						<form  action="/" method="post">
							<div  class="row justify-content-center">
								<div id="checkAvailabilityForm" class="input-form-cont">
									<div class="col-12 col-sm-3">
										<label for="room">Room</label>
										<select name="type" id="type" class="form-control">
											<option value="All">Select Room</option>
											<option value="D">Double Room</option>
											<option value="T">Triple Room</option>
											<option value="F">Family Room</option>
										</select>
									</div>

									<div class="col-12 col-sm-3">
										<label for="checkIn">Check In</label>
										<input type="date" class="form-control" id="checkIn" name="checkin">
										<p id="invalidemail"><span><%= checkinmsg %></span></p>
									</div>

									<div class="col-12 col-sm-3">
										<label for="checkIn">Check Out</label>
										<input type="date" class="form-control" id="checkIn" name="checkout">
										<p id="invalidemail"><span><%= checkoutmsg %></span></p>
									</div>
									
									<div class="col-12 col-sm-3">
										<div class="col-12 col-sm-1"></div>
										<div class="col-12 col-sm-10">
											<label id="checkFont" for="checkIn">Check</label>
											<button id="check-button" type="submit" class="form-control btn btn-info">Check Availability</button>
										</div>
										<div class="col-12 col-sm-1"></div>
									</div>
						</div>
					</div>
						</form>
					</div>
				</div>



				<!-- rooms section -->
				<div id="featured-hotel" class="fh5co-bg-color">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-title text-center">
									<h2>Featured Rooms</h2>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="feature-full-1col">
								<div class="image" style="background-image: url(images/F5.jpeg);">
									<div class="descrip text-center">
										<p><small>Starting From</small><span>LKR 6,143
										</span></p>
									</div>
								</div>
								<div class="desc">
									<h3>Family Room</h3>
									<p>This family room has a balcony, soundproofing and private entrance.
									</p>
									<p><a href="#" id="check-button-sub" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
								</div>
							</div>

							<div class="feature-full-2col">
								<div class="f-hotel">
									<div class="image" style="background-image: url(images/D1.jpeg);">
										<div class="descrip text-center">
											<p><small>Starting From</small><span>LKR 5,530</span></p>
										</div>
									</div>
									<div class="desc">
										<h3>Double Room</h3>
										<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, 
										in suscipit urna condimentum sed. </p>
										<p><a href="#" id="check-button-sub" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
									</div>
								</div>
								<div class="f-hotel">
									<div class="image" style="background-image: url(images/T3.jpeg);">
										<div class="descrip text-center">
											<p><small>Starting From</small><span>LKR 5,630
											</span></p>
										</div>
									</div>
									<div class="desc">
										<h3>Triple Room</h3>
										<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. </p>
										<p><a href="#" id="check-button-sub" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- services section -->
				<div id="hotel-facilities" >
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-title text-center">
									<h2>Hotel Facilities</h2>
								</div>
							</div>
						</div>

						<div id="tabs">
							<div>
								<nav class="tabs-nav">
									<a href="#" class="active" data-tab="tab1">
										<i id="fav" class="fas fa-utensils fa-2x"></i>
										<span>Restaurant</span>
									</a>
									<a href="#" data-tab="tab2">
										<i id="fav" class="fas fa-fire fa-2x"></i>
										<span>BBQ</span>
									</a>
									<a href="#" data-tab="tab3">
										<i id="fav" class="fas fa-shower fa-2x"></i>
										<span>Hot Water</span>
									</a>
									<a href="#" data-tab="tab4">
										
										<i id="fav" class="fas fa-shield-alt fa-2x"></i>
										<span>Security</span>
									</a>	
								</nav>
							</div>
							
							<div class="tab-content-container">
								<div class="tab-content active show" data-tab-content="tab1">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<img  src="images\dine.jpg" class="img-responsive" alt="Image">
											</div>
											<div class="col-md-6">
												<span class="super-heading-sm">World Class</span>
												<h3 class="heading">Restaurant</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officia perferendis modi impedit, rem quasi veritatis. Consectetur obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at. Quia, labore, reprehenderit illum dolorem quae facilis reiciendis quas similique totam sequi ducimus temporibus ex nemo, omnis perferendis earum fugit impedit molestias animi vitae.</p>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque blanditiis eveniet nesciunt, beatae similique doloribus, ex impedit rem officiis placeat dignissimos molestias temporibus, in! Minima quod, consequatur neque aliquam.</p>
												<p class="service-hour">
													<span>Service Hours</span>
													<strong>7:30 AM - 8:00 PM</strong>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content" data-tab-content="tab2">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<img src="images\bbq.jpg" class="img-responsive" alt="Image">
											</div>
											<div class="col-md-6">
												<span class="super-heading-sm">World Class</span>
												<h3 class="heading">Bars</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officia perferendis modi impedit, rem quasi veritatis. Consectetur obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at. Quia, labore, reprehenderit illum dolorem quae facilis reiciendis quas similique totam sequi ducimus temporibus ex nemo, omnis perferendis earum fugit impedit molestias animi vitae.</p>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque blanditiis eveniet nesciunt, beatae similique doloribus, ex impedit rem officiis placeat dignissimos molestias temporibus, in! Minima quod, consequatur neque aliquam.</p>
												<p class="service-hour">
													<span>Service Hours</span>
													<strong>7:30 AM - 8:00 PM</strong>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content" data-tab-content="tab3">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<img src="images\hotwater.jpg" class="img-thumbnail" alt="Cinque Terre">
											</div>
											<div class="col-md-6">
												<span class="super-heading-sm"></span>
												<h3 class="heading">Hot Water</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officia perferendis modi impedit, rem quasi veritatis. Consectetur obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at. Quia, labore, reprehenderit illum dolorem quae facilis reiciendis quas similique totam sequi ducimus temporibus ex nemo, omnis perferendis earum fugit impedit molestias animi vitae.</p>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque blanditiis eveniet nesciunt, beatae similique doloribus, ex impedit rem officiis placeat dignissimos molestias temporibus, in! Minima quod, consequatur neque aliquam.</p>
												<p class="service-hour">
													<span>Service Hours</span>
													<strong>24 Hour</strong>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content" data-tab-content="tab4">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<img src="images\security.jpg" class="img-responsive" alt="Image">
											</div>
											<div class="col-md-6">
												<span class="super-heading-sm">24 Hour</span>
												<h3 class="heading">Security</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officia perferendis modi impedit, rem quasi veritatis. Consectetur obcaecati incidunt, quae rerum, accusamus sapiente fuga vero at. Quia, labore, reprehenderit illum dolorem quae facilis reiciendis quas similique totam sequi ducimus temporibus ex nemo, omnis perferendis earum fugit impedit molestias animi vitae.</p>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque blanditiis eveniet nesciunt, beatae similique doloribus, ex impedit rem officiis placeat dignissimos molestias temporibus, in! Minima quod, consequatur neque aliquam.</p>
												<p class="service-hour">
													<span>Service Hours</span>
													<strong>7:30 AM - 8:00 PM</strong>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- END fh5co-page -->

				<!-- footer section -->
				<footer id="footerdetails">
					<div class="row">
						<div class="col-sm-6 col-md-4 footer-navigation">
							<h3><a href="#">Hotel<span>HillSide </span></a></h3>
							<p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
							<p class="company-name">4NoteFourSolutions © 2020 </p>
						</div>
						<div class="col-sm-6 col-md-4 footer-contacts">
							<div><span class="fa fa-map-marker footer-contacts-icon"> </span>
								<p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
							</div>
							<div><i class="fa fa-phone footer-contacts-icon"></i>
								<p class="footer-center-info email text-left"> +1 555 123456</p>
							</div>
							<div><i class="fa fa-envelope footer-contacts-icon"></i>
								<p> <a href="#" target="_blank">support@company.com</a></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4 footer-about">
							<h4>About the Guest House </h4>
							<p> Offering a barbecue and views of the mountains, Guest House Hill Paradise is located in Nuwara Eliya, 0.6 mi from Gregory Lake. The guest house has a sun terrace and views of the lake, and guests can enjoy a drink at the bar. </p>
							<div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	

	<!-- <script type="text/javascript">
		$(function() {
			$('input[name="daterange"]').daterangepicker({
			opens: 'center'
		}, function(start, end, label) {
		});
		});
	</script> -->

	</body>
	<!-- END fh5co-wrapper -->

		<!-- Javascripts -->
		<!-- <script src='/javascripts/js/jquery-2.1.4.min.js'></script> -->
		
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
		<!-- <script src='js/modernizr-2.6.2.min.js'></script> -->
		<!-- Dropdown Menu -->
		<script src='/javascripts/js/hoverIntent.js'></script>
		<script src='/javascripts/js/superfish.js'></script>
		<!-- Bootstrap -->
		<script src='/javascripts/js/bootstrap.min.js'></script>
		<!-- Waypoints -->
		<script src='/javascripts/js/jquery.waypoints.min.js'></script>
		<!-- Counters -->
		<script src='/javascripts/js/jquery.countTo.js'></script>
		<!-- Stellar Parallax -->
		<script src='/javascripts/js/jquery.stellar.min.js'></script>
		<!-- Owl Slider -->
		<!-- // <script src="js/owl.carousel.min.js"></script> -->
		<!-- Date Picker -->
		<script src='/javascripts/js/bootstrap-datepicker.min.js'></script>
		<!-- CS Select -->
		<script src='/javascripts/js/classie.js'></script>
		<script src='/javascripts/js/selectFx.js'></script>
		<!-- Flexslider -->
		<script src='/javascripts/js/jquery.flexslider-min.js'></script>

		<script src='/javascripts/js/custom.js'></script>

		<!-- scroll to top -->
		<a  id="return-to-top"><i class="icon-chevron-up"></i></a>
		<script type="text/javascript">
			// ===== Scroll to Top ==== 
			$(window).scroll(function() {
				if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
					$('#return-to-top').fadeIn(200);    // Fade in the arrow
				} else {
					$('#return-to-top').fadeOut(200);   // Else fade out the arrow
				}
			});
			
			$('#return-to-top').click(function() {      // When arrow is clicked
				$('body,html').animate({
					scrollTop : 0                       // Scroll to top of body
				}, 500);
			});

			$(function() {
				$('input[name="daterange"]').daterangepicker({
					opens: 'center'
				}, function(start, end, label) {});
			});
		</script>

	<script src="https://kit.fontawesome.com/181bc7291d.js" crossorigin="anonymous"></script>

</html>