<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
    <link rel="stylesheet" href="/stylesheets/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="/stylesheets/css/registerstyle.css">
	</head>

	<body>

	<div class="wrapper" 
        style="background-image: url('/images/rm2.jpg');
			height:100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;">
				<div class="inner">
					<form action="/register" id="register" method="POST">
						<h3>Registration Form</h3>
						<div class="form-group">
							<div class="form-wrapper">
								<label for="first">First Name</label>
								<input type="text" class="form-control" name="fname">
							</div>
							<div class="form-wrapper">
								<label for="last">Last Name</label>
								<input type="text" class="form-control" name="lname">
							</div>
						</div>
						<div class="form-wrapper">
							<label for="email">Email</label>
							<input type="text" class="form-control" id="email" name="email" required>
							<p id="invalidemail"><span style="color:brown"><%= mailmessage %></span></p>
						</div>
						<div class="form-wrapper">
							<label for="address">Address</label>
							<textarea class="form-control" id="address" name="address" required></textarea>
						</div>
						<div class="form-wrapper">
							<label for="mobile">Mobile Number</label>
							<input type="text" class="form-control" id="mobile" name="mobile" required>
							<p id="invalidemail"><span style="color:brown"><%= mobilemessage %></span></p>
						</div>
						
						<button type="submit" name="submit" id="submit">Register Now</button>
					</form>
				</div>
		</div>
		
	</body>
	</html> -->

	<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="\fonts\material-icon\css\material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="\css\style.css">
</head>

<body>

    <div class="main">

        <div class="container">
            <form method="POST" action="/register" class="appointment-form" id="appointment-form">
                <h2>Registration</h2>
                <div class="form-group-1">
                    <input type="text" name="fname" id="title" placeholder="First Name" required>
                </div>
                <div class="form-group-1">
                    <input type="text" name="lname" id="name" placeholder="Last Name" required />
                </div>
                <div class="form-group-1">
                    <p id="invalidemail"><span style="color:brown"><%= mailmessage %></span></p>
                    <input type="email" name="email" id="email" placeholder="Email" required />
                </div>
                <div class="form-group-1">
                    <input type="text" name="address" id="phone_number" placeholder="Address" required />
                </div>
                <div class="form-group-1">
                    <p id="invalidemail"><span style="color:brown"><%= mobilemessage %></span></p>
                    <input type="text" name="mobile" id="phone_number" placeholder="Mobile Number" required />
                </div>
                <div class="form-submit">
					<input type="submit" name="submit" id="submit" class="submit" value="Register" />
					
					 <!-- <button type="submit" name="submit" id="submit">Register Now</button>	 -->
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="\vendor\jquery\jquery.min.js"></script>
    <script src="\js\main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>