<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank You</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="\fonts\material-icon\css\material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="\css\styleThank.css">
</head>

<body>

    <div class="main">

        <div class="container">
                    <form method="GET" action="/" class="appointment-form" id="appointment-form">
                        <div class="header">
                            <h2>Thank You!</h2>
                        </div>
                       
                        <div class="form-submit">
                            <div class="des">
                            <p style="color: black;padding: 10px;">Your booking details are recorded. Please make sure that, You have been paid 2 days before the checkin date.<br>For more Information We have been sent an email to your registerd email address</p>
                            </div>
                            
                             <!-- <button type="submit" name="submit" id="submit">Register Now</button>	 -->
                        </div>
                        <div class="col-sm-3">
                                    <input type="submit" class="btn" name="submit" id="submit" class="submit" value="OK" />
                        </div>
                                
                        
                    </form>                    
                
                
            

        </div>
        <div class="card-footer text-muted">
            <h4>POWERED BY <Br>4NoteFourSolutions© 2020</Br></h4>
        </div>
    </div>

    <!-- JS -->
    <script src="\vendor\jquery\jquery.min.js"></script>
    <script src="\js\main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>