<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>verification</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/stylesheets/css/material-design-iconic-font.min.css">
		
    <link rel="stylesheet" href="/stylesheets/css/registerstyle.css">
	</head>

	<body>

	<div class="wrapper" 
		style="background-image: url('/images/rm.jpg');
			height:100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;">
				<div class="inner">
					<form action="/verify" method="POST">
                        <h3>verification</h3>
                        <h5><span style="color:brown"><%= sent %></span></h5>
                        <p>Please check email address that you have entered and enter the Verification key that have been sent and make sure entered details are correct.
                        </p>
                        <div class="form-wrapper">
							<label for="verify">Verification Key</label>
							<input type="text" class="form-control" name="verify">
							<p id="invalidverify"><span style="color:brown"><%= message %></span></p>
						</div>
                        <button type="submit">Confirm identity</button>
                    </form>
				</div>
		</div>
		
	</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verification</title>
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico" />

    <!-- Font Icon -->
    <link rel="stylesheet" href="\fonts\material-icon\css\material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="\css\style.css">
</head>

<body>

    <div class="main">

        <div class="container">
            <form method="POST" action="/verify" class="appointment-form" id="appointment-form">
                <h2>Verification</h2>
               
                <div class="form-group-1">
					<p>Please check email address that you have entered and enter the Verification key that have been sent and make sure entered details are correct.
					</p>
                    <p id="invalidemail"><span><%= sent %></span></p>                   
				</div>
				
               
                <div class="form-group-1">
                    <p id="invalidemail"><span><%= message %></span></p>
                    <input type="text" name="verify" id="phone_number" placeholder="Verification Key" required />
                </div>
                <div class="form-submit">
					<input type="submit" name="submit" id="submit" class="submit" value="Verify" />
					
					 <!-- <button type="submit" name="submit" id="submit">Register Now</button>	 -->
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="\vendor\jquery\jquery.min.js"></script>
    <script src="\js\main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>