.edit-room-form{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.topic{
    text-align: center;
    padding-top: 20px;
}
.table-s{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}